.buttonss{
    height:70px;
    width: 70px;
    border-radius:70px;
    position: fixed;
    left:90%;
    top:85%;
}
.rowp{
    margin-left: 1%;
    margin-top: 1%;
    width: 98%;
 
}
.cen
{
    margin:10%;
}
.sc
{
    overflow-y: scroll;
    height: 300px;
}
 /* Hide scrollbar for Chrome, Safari and Opera */
 .hidess::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hidess {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 